@model PagedList.IPagedList<Talento.Models.PositionModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Widgets";
    ViewBag.BodyClass = "dashboard-home";
}
@using (Html.BeginForm("Index", "Dashboard", FormMethod.Get))
{
    <p>
        Filter By: @Html.DropDownList("FilterBy", new List<SelectListItem>
                {
                        new SelectListItem() {Text = "Status", Value="Status"},
                        new SelectListItem() {Text = "Title", Value="Title"},
                        new SelectListItem() {Text = "Owner", Value="Owner"},
                })
        Filter: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("EM", "Index", new { sortOrder = ViewBag.EMSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Owner", "Index", new { sortOrder = ViewBag.OwnerSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>
                @p.Title
            </td>
            <td>
                @p.CreationDate
            </td>
            <td>
                @p.Status
            </td>
            <td>
                @p.EngagementManager
            </td>
            <td>
                @p.Owner.UserName
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
