@model Talento.Models.DashBoardViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Widgets";
    ViewBag.BodyClass = "dashboard-home";
}

@Html.Partial("TIFFDownload")
@{string actionName = "Index"; }
@using (Html.BeginForm(actionName, "Dashboard", FormMethod.Get))
{
    <div class="form-group col-sm-2">
        <label for="FilterBy" class="control-label">Filter By:</label>
        @Html.DropDownList("FilterBy", new List<SelectListItem>
                {
                        new SelectListItem() {Text = "Status", Value="Status"},
                        new SelectListItem() {Text = "Title", Value="Title"},
                        new SelectListItem() {Text = "Owner", Value="Owner"},
                        new SelectListItem() {Text = "EM", Value="EM"},
                        new SelectListItem() {Text = "PM", Value="PM"},
                }, new { @class = "form-control" })
    </div>

    <div class="form-group col-sm-4">
        <label for="searchString" class="control-label">Filter:</label>
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
    </div>
        <div class="col-sm-1 form-group">
            <br />
            <input type="submit" class="btn pmd-ripple-effect btn-primary" value="Search" style="margin-top: 4px; width:40px;" />
        </div>
}
<div class="col-sm-2" style="margin-left:40px;">
    @using (Html.BeginForm("DownloadXl", "Dashboard", FormMethod.Get, new { id = "formtest"}))
    {
        <input type="hidden" name="TableSortOrder" id="TableSortOrder" value="" />
                <input type="hidden" name="TableFilterBy" id="TableFilterBy" value="" />
                <input type="hidden" name="TableCurrentFilter" id="TableCurrentFilter" value="" />
                <input type="hidden" name="TableSearchString" id="TableSearchString" value="" />
        //<input type="hidden" name="TablePage" id="TablePage" value="" />
        <a href="" alt="Download Excel">
            <i class="material-icons md-24 pull-left" style="">file_download</i><input type="submit" 
            style="background-color:rgb(249,249,249);border:0px;padding:0px; width:100px;"
                                                                                                      
            value="Export Excel" />
        </a>
        
    }
</div>



<script>

    window.onload = function () {
        (function ($) {
            $("#formtest").submit(function () {
                $("#TableSortOrder").val($("id_desc"));
                $("#TableFilterBy").val($("#FilterBy").val());
                $("#TableSearchString").val($("#searchString").val());
            });
        }(jQuery));
    }

</script>
<table class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" style="width:100%">
    <tr>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("RGS ID", "Index", new { sortOrder = ViewBag.RGSSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Engagement Manager", "Index", new { sortOrder = ViewBag.EMSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Portfolio Manager", "Index", new { sortOrder = ViewBag.OwnerSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Area", "Index", new { sortOrder = ViewBag.OwnerSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Owner", "Index", new { sortOrder = ViewBag.OwnerSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Open Days", "Index", new { sortOrder = ViewBag.OwnerSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Profile Options
        </th>
    </tr>
    @foreach (var p in Model.Positions)
    {
        <tr>
            <td>
                @p.CreationDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.ActionLink(@p.PositionId.ToString(), "Details", "Positions", new { id = p.PositionId }, null)
            </td>
            <td>
                @Html.ActionLink(@p.Title.ToString(), "Details", "Positions", new { id = p.PositionId }, null)
            </td>            
            <td>
                @p.Status.ToString()
            </td>
            <td>
                @p.RGS
            </td>
            <td>
                @p.EngagementManager
            </td>
            <td>
                @p.PortfolioManager.UserName
            </td>
            <td>
                @p.Area
            </td>
            <td>
                @p.Owner.UserName
            </td>
            <td>
                @if (p.OpenDays == 0)
                {
                    <span>Today</span>
                }
                else
                {
                    <span>@p.OpenDays</span>
                }
            </td>
            <td>
                @if (p.Status == Talento.Entities.PositionStatus.Open)
                {
                    <a class="btn-modal btn btn-primary pmd-ripple-effect btn-primary pmd-z-depth"
                       name="position-@p.PositionId"
                       style="width:20px" href="/Candidate/Create/@p.PositionId">
                        Add
                    </a>
                }
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model.Positions, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    function exportXl() {

    }
</script>