@model Talento.Models.PositionModel
@{
    ViewBag.Title = "Position details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="col-md-8">
    <br />
    <div>
        <div class="col-md-7">
            <b>Title:</b> @Html.DisplayFor(x => x.Title)
        </div>
        <div class="col-md-5">
            <b>Creation date:</b> @Html.DisplayFor(x => x.CreationDate)
        </div>
    </div>
    <div class="bottom">&nbsp;</div>
    <br />
    <div class="col-md-11">
        <p><b>Description: </b>@Html.DisplayFor(x => x.Description)</p>
        <p><b>Area: </b>@Html.DisplayFor(x => x.Area)<p />
        <p><b>Owner: </b>@Html.DisplayFor(x => x.Owner.UserName)<p />
        <p><b>Engagement Manager: </b>@Html.DisplayFor(x => x.EngagementManager)<p />
        <p><b>Portfolio Manager: </b>@Html.DisplayFor(x => x.PortfolioManager.UserName)<p />
        <p><b>RGS: </b>@Html.DisplayFor(x => x.RGS)<p />
        <p><b>Status: </b>@Html.DisplayFor(x => x.Status)<p />
    </div>
        <div class="col-md-8">
            <input type="button" name="back" class="btn pmd-ripple-effect btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("Index", "Dashboard") + "'");" />
            <input type="button" name="edit" class="btn pmd-ripple-effect btn-primary" value="Edit" onclick="@("window.location.href='" + @Url.Action("Edit", "Positions", new { id = Model.Id }) + "'");" />
            <input data-target="#complete-dialog" data-toggle="modal" class="btn btn-danger pmd-ripple-effect btn-primary pmd-z-depth" value="Delete" />
            <div tabindex="-1" class="modal fade" id="complete-dialog" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Do you want to delete this position?</p>
                        </div>
                        <div class="pmd-modal-action pmd-modal-bordered text-right">
                            <button data-dismiss="modal"   class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Cancel</button>
                            <button data-dismiss="modal"  type="button" onclick="@("window.location.href='" + @Url.Action("Delete", "Positions", new { id = Model.Id }) + "'");" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="col-sm-4">
    @Html.Action("List", "PositionLogs", new { id = Model.Id })
</div>