@model Talento.Models.ForgotViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.BodyClass = "login-home";
    Layout = "~/Views/Account/Shared/_LayoutLogin.cshtml";
}

<div class="login-card">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="pmd-card-title card-header-border text-center">
            <div class="loginlogo">
                <a href="javascript:void(0);">
                    <img src="https://upload.wikimedia.org/wikipedia/en/b/b1/Tata_Consultancy_Services_Logo.svg" alt="Logo TCS">
                </a>
            </div>
            <h2>Password recovery in <strong>TALENTO</strong></h2>
        </div>

        <div class="pmd-card-body">
            @if (!Html.ViewData.ModelState.IsValid)
            {
            @Html.ValidationSummary("", new { @class = "alert alert-danger", @role = "alert" })
            }
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                @Html.LabelFor(m => m.Email, new { @class = "control-label pmd-input-group-label" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="material-icons md-dark pmd-sm">mail_outline</i>
                    </div>
                    <input class="form-control" id="Email" type="text" name="Email">
                </div>
            </div>
        </div>

        <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
            <div class="form-group clearfix">
                <span class="pull-right">
                    Already a User? @Html.ActionLink("Login", "Login")
                </span>
            </div>
            <div class="form-group clearfix">
                <input type="submit" value="Send" class="btn pmd-ripple-effect btn-primary btn-block">
                <p>
                    <br />
                    Don't have an account?
                    @Html.ActionLink("Sign Up", "Register").
                </p>
            </div>
        </div>
    }
</div>


