@if ((int) ViewData["Count"] == 0)
{
    <div role="alert" class="alert alert-info">
        There are no Logs
    </div>
}
else
{
    <div id="position-log">
        <h2>Logs: </h2>
        <hr />
        @foreach (var log in Model)
        {
            <div class="log-item pmd-card pmd-card-default pmd-z-depth">
                <div class="log-user"><i class="material-icons">face</i>@log.User.Email</div>
                <div class="log-action pmd-z-depth @log.Action"><bold>@log.Action</bold></div>
                <div class="log-status @(log.PreviousStatus == 0 ? "full-width" : "")">
                    <div class="log-previous @log.PreviousStatus"><span>Previous: </span> <bold>@log.PreviousStatus</bold></div>
                    <div class="log-actual @log.ActualStatus"><span>Actual: </span><bold>@log.ActualStatus</bold></div>
                </div>
                <div class="log-date"><bold>Date: </bold> @log.Date</div>
            </div>
        }
    </div>
}
