@{
    this.ViewContext.HttpContext.Items["RoleClass"] = ViewData["RoleClass"];
}

<style>
    .menu-option {
        padding-left: 5px;
        font-size: 15px;
    }
</style>

<!-- Sidebar Navigation -->
<div class="pmd-sidebar-overlay"></div>
<aside id="navigation-side" class="pmd-sidebar sidebar-default pmd-sidebar-left pmd-z-depth propeller-docs-sidebar pmd-sidebar-close pmd-sidebar-slide-push" role="navigation">
    <ul class="nav pmd-sidebar-nav">
        <li class="dropdown pmd-dropdown pmd-user-info visible-xs visible-md visible-sm visible-lg">
            <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" aria-expandedhref="javascript:void(0);">
                <div class="media-left user-image">
                    <img src="https://cdn4.iconfinder.com/data/icons/ios7-active-2/512/Management.png" width="48" height="48" alt="User Image">
                </div>
                <div class="media-body media-middle"><span>@ViewData["Role"]</span> Dashboard</div>
            </a>
            <div class="pmd-dropdown-menu-container">
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "Dashboard")">Home</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                </ul>
            </div>
        </li>
        @if (ViewData["Role"].ToString() == "basic")
        {
            <li>
                <a class="pmd-ripple-effect" href="@Url.Action("Create", "Positions")">
                    <span class="pull-left">
                        <i class="material-icons pmd-sm">note_add</i>
                    </span>
                    <span class="pull-left">
                        <span class="menu-option">Create new Position</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="pmd-ripple-effect" href="@Url.Action("AboutUs", "Dashboard")">
                    <span class="pull-left">
                        <i class="material-icons">perm_identity</i>
                    </span>
                    <span class="pull-left">
                        <span class="menu-option">About Us</span>
                    </span>
                </a>
            </li>
        }
        @if (ViewData["Role"].ToString() == "admin")
        {
            <li>
                <a class="pmd-ripple-effect" href="@Url.Action("Index", "Dashboard")">
                    <span class="pull-left">
                        <i class="material-icons pmd-sm">work</i>
                    </span>
                    <span class="pull-left">
                        <span class="menu-option">Positions</span>
                    </span>
                </a>
            </li>
            @*<li>
                <a class="pmd-ripple-effect" href="@Url.Action("ManageUser", "Dashboard")">
                    <span class="pull-left"><i class="material-icons pmd-sm">face</i></span>
                    <span class="menu-option">Manage User</span>
                </a>
            </li>*@
            <li>
                <a class="pmd-ripple-effect" href="@Url.Action("AppSettings", "Dashboard")">
                    <span class="pull-left">
                        <i class="material-icons pmd-sm">settings</i>
                    </span>
                    <span class="pull-left">
                        <span class="menu-option">Applications Settings</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="pmd-ripple-effect" href="@Url.Action("AboutUs", "Dashboard")">
                    <span class="pull-left">
                        <i class="material-icons">perm_identity</i>
                    </span>
                    <span class="pull-left">
                        <span class="menu-option">About Us</span>
                    </span>
                </a>
            </li>
        }
    </ul>
</aside>
