@model Talento.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.BodyClass = "login-home";
    //Layout = "~/Views/Account/Shared/_LayoutLogin.cshtml";
}

<style>
    .float-none {
        float: none;
    }
</style>

<div class="col-md-4 center-block float-none login-card">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="pmd-card-title card-header-border text-center">
            <div class="loginlogo">
                <a href="javascript:void(0);">
                    <img src="https://upload.wikimedia.org/wikipedia/en/b/b1/Tata_Consultancy_Services_Logo.svg" alt="Logo TCS">
                </a>
            </div>
            <h2>Login to <strong>TALENTO</strong></h2>
        </div>

        <div class="pmd-card-body">
            @if (!Html.ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary("", new { @class = "alert alert-info", @role = "alert" })
            }
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                @Html.LabelFor(m => m.Email, new { @class = "control-label pmd-input-group-label" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="material-icons md-dark pmd-sm">mail_outline</i>
                    </div>
                    <input class="form-control" id="Email" type="text" name="Email">
                </div>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                @Html.LabelFor(m => m.Password, new { @class = "control-label pmd-input-group-label" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="material-icons md-dark pmd-sm">lock_outline</i>
                    </div>
                    <input class="form-control" id="Password" name="Password" type="password">
                </div>
            </div>
        </div>

        <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
            <div class="form-group clearfix">
                <span class="pull-right forgot-password">
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </span>
            </div>
            <input type="submit" value="Login" class="btn pmd-ripple-effect btn-primary btn-block">
            <p>
                <br />
                Don't have an account?
                @Html.ActionLink("Sign Up", "Register").
            </p>
            <p>
                Need verification token?
                @Html.ActionLink("Request token", "RequestToken").
            </p>
        </div>
    }
</div>
