@model Talento.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.BodyClass = "login-home";
    //Layout = "~/Views/Account/Shared/_LayoutLogin.cshtml";
}

@Html.Partial("_Background")

<div class="col-md-4 center-block login-card" style="float: none; background-color: white; margin-top: 2%;">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="pmd-card-title card-header-border text-center">
            <div class="loginlogo">

            </div>
            <br />
            <div class="login-title center-block">Register to <strong>TALENTO<small> Beta</small></strong></div>
            <div class="login-bottom"></div>
        </div>

        <div class="pmd-card-body">

            @if (!Html.ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary("", new { @class = "alert alert-danger", @role = "alert" })
            }

            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                @Html.LabelFor(m => m.Name, new { @class = "control-label pmd-input-group-label" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="material-icons md-dark pmd-sm">face</i>
                    </div>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                @Html.LabelFor(m => m.Email, new { @class = "control-label pmd-input-group-label" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="material-icons md-dark pmd-sm">mail_outline</i>
                    </div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                @Html.LabelFor(m => m.Password, new { @class = "control-label pmd-input-group-label" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="material-icons md-dark pmd-sm">lock_outline</i>
                    </div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label pmd-input-group-label" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="material-icons md-dark pmd-sm">lock_outline</i>
                    </div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label class="control-label pmd-input-group-label">User Type</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="material-icons md-dark pmd-sm">account_circle</i>
                    </div>
                    <select class="select-simple form-control pmd-select2" tabindex="-1" aria-hidden="true" name="UserType">
                        @foreach (string rol in ViewBag.Roles)
                        {
                            <option>@rol</option>
                        }
                    </select>
                </div>
            </div>

            <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                <input type="submit" value="Register" class="btn pmd-ripple-effect btn-primary btn-block">
                <p>
                    <br />Already an User?
                    @Html.ActionLink("Login", "Login")
                </p>
            </div>
        </div>
    }
</div>
