@model PagedList.IPagedList<Talento.Models.Position>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Widgets";
    ViewBag.BodyClass = "dashboard-home";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Get))
{
    {
        <p>
            Filter By: @Html.DropDownList("FilterBy", new List<SelectListItem>
                {
                        new SelectListItem() {Text = "Status", Value="Status"},
                        new SelectListItem() {Text = "Title", Value="Title"},
                        new SelectListItem() {Text = "Owner", Value="Owner"},
                        new SelectListItem() {Text = "EM", Value="EM"},
                })

            Filter: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            EM
            @*@Html.ActionLink("EM", "Index", new { sortOrder = ViewBag.EMSortParm, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th>
            Area
            @*@Html.ActionLink("Area", "Index", new { sortOrder = ViewBag.OwnerSortParm, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th>
            Owner
            @*@Html.ActionLink("Owner", "Index", new { sortOrder = ViewBag.OwnerSortParm, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th>
            Open Days
            @*@Html.ActionLink("Open Days", "Index", new { sortOrder = ViewBag.OwnerSortParm, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th></th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>
                @p.CreationDate
            </td>
            <td>
                @p.Id
            </td>
            <td>
                @p.Title
            </td>
            <td>
                @p.Status.ToString()
            </td>
            <td>
                @p.EngagementManager
            </td>
            <td>
                @p.Area
            </td>
            <td>
                @p.Owner.UserName
            </td>
            <td>
                @DateTime.Now.Subtract(p.CreationDate).Days.ToString()
            </td>
        </tr>
    }
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

 @Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<br />


