@model Talento.Models.CandidateModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Postulation of @Model.Name for @Model.PositionCandidates.FirstOrDefault(x=>x.PositionID.Equals(Model.PositionId)).Position.Title</h2>

<div>
    <h4>Details: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Competencies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competencies)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <br />
        <dt>
            Created On:
        </dt>

        <dd>
            @Model.CreatedOn.ToLongDateString()
        </dd>
        <br />
        <dt>
            Created by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </dd>
        <br />
        <dt>
            @if (Model.IsTcsEmployee)
            {
                <span>Is TCS Employee</span>
            }
            else
            {
                <span>Is <u>not</u> TCS Employee</span>
            }
        </dt>
        <br />
    </dl>
    
    <div class="row">
    
        <div class="list-group">
            @foreach (Talento.Entities.FileBlob f in Model.PositionCandidates.Single(x=>x.CandidateID.Equals(Model.CandidateId) && x.PositionID.Equals(Model.PositionId)).Candidate.FileBlobs)
            {
                <a href="#" class="list-group-item">@f.FileName</a>
            }
        </div>

    </div>

        <h3>
            Comments:
        </h3>

        <div id="comments" class="row">
            @foreach (Talento.Entities.TechnicalInterview x in Model.Comments)
            {
                <div class="col-sm-8">
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <a href="#">Interviewed by <b>@x.InterviewerName (@x.InterviewerId)</b></a>
                                </div>
                                <h6 class="text-muted time">Date: @x.Date.Value.ToLongDateString()</h6>
                            </div>
                        </div>
                        <div class="post-description">
                            <p>@x.Comment</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <div class="form-group col-md-8">
            <div style="float:right">
                @if (!Model.isadmin && Model.isopenposition)
                {
                    <a class="btn pmd-btn-flat pmd-ripple-effect btn-primary" href="/Candidate/Edit/@Model.CandidateId?positionId=@Model.PositionId">Edit </a>
                }
                @Html.ActionLink("Back to Position ", "Details", "Positions", new { id = Model.PositionId }, new { @class = "btn pmd-btn-flat pmd-ripple-effect btn-primary" })
            </div>
            <div style="float:left">
                @Html.ActionLink(" Back to Dashboard", "Index", "Dashboard")
            </div>
            <br />
        </div>
    </div>
        <br/>

        <style>

            .panel-shadow {
                box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
            }

            .panel-white {
                border: 1px solid #dddddd;
            }

                .panel-white .panel-heading {
                    color: #333;
                    background-color: #fff;
                    border-color: #ddd;
                }

                .panel-white .panel-footer {
                    background-color: #fff;
                    border-color: #ddd;
                }

            .post .post-heading {
                height: 95px;
                padding: 20px 15px;
            }

                .post .post-heading .avatar {
                    width: 60px;
                    height: 60px;
                    display: block;
                    margin-right: 15px;
                }

                .post .post-heading .meta .title {
                    margin-bottom: 0;
                }

                    .post .post-heading .meta .title a {
                        color: black;
                    }

                        .post .post-heading .meta .title a:hover {
                            color: #aaaaaa;
                        }

                .post .post-heading .meta .time {
                    margin-top: 8px;
                    color: #999;
                }

            .post .post-image .image {
                width: 100%;
                height: auto;
            }

            .post .post-description {
                padding: 15px;
                padding-top:0px;
                margin-top:-15px;
            }

                .post .post-description p {
                    font-size: 14px;
                }

                .post .post-description .stats {
                    margin-top: 20px;
                }

                    .post .post-description .stats .stat-item {
                        display: inline-block;
                        margin-right: 15px;
                    }

                        .post .post-description .stats .stat-item .icon {
                            margin-right: 8px;
                        }

            .post .post-footer {
                border-top: 1px solid #ddd;
                padding: 15px;
            }

                .post .post-footer .input-group-addon a {
                    color: #454545;
                }

                .post .post-footer .comments-list {
                    padding: 0;
                    margin-top: 20px;
                    list-style-type: none;
                }

                    .post .post-footer .comments-list .comment {
                        display: block;
                        width: 100%;
                        margin: 20px 0;
                    }

                        .post .post-footer .comments-list .comment .avatar {
                            width: 35px;
                            height: 35px;
                        }

                        .post .post-footer .comments-list .comment .comment-heading {
                            display: block;
                            width: 100%;
                        }

                            .post .post-footer .comments-list .comment .comment-heading .user {
                                font-size: 14px;
                                font-weight: bold;
                                display: inline;
                                margin-top: 0;
                                margin-right: 10px;
                            }

                            .post .post-footer .comments-list .comment .comment-heading .time {
                                font-size: 12px;
                                color: #aaa;
                                margin-top: 0;
                                display: inline;
                            }

                        .post .post-footer .comments-list .comment .comment-body {
                            margin-left: 50px;
                        }

                        .post .post-footer .comments-list .comment > .comments-list {
                            margin-left: 50px;
                        }
        </style>